{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
  <body>
    <h1>Pawsome Appointment</h1>
    <br>
    
    <p> Ours is a comprehensive pet care management platform that empowers pet owners to seamlessly manage their pet's health and well-being.
 Users can create personalized profiles for their pets, detailing important information such as breed, age, and medical history. Through Pet Portal, users can easily schedule veterinary appointments tailored to their pet's specific health needs, ensuring timely access to quality care.

Our user-friendly interface facilitates seamless communication between pet owners and veterinary doctors, enabling users to connect with the right professionals for their pet's needs.
 Whether it's routine check-ups, medical treatments, or specialized care, Pet Portal provides a convenient platform for pet owners to access a network of trusted veterinarians.

In addition to appointment scheduling, Pet Portal features a robust search function that allows users to search for veterinarians based on specific symptoms or medical conditions. This powerful search tool helps users find the right veterinarian with expertise in addressing their pet's health concerns.</p>
    <br><br><br><br><br><br><br><br><br><a href="{% url 'logout' %}" class="btn btn-outline-primary"> Logout </a>
    <!-- Required meta tags -->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  
  {% endblock %}
  